*{
  margin: 0;
  padding: 0;
}
body{
  background: #cecece;
  
}
header .logo{
  width: 100%;
  background: #fff;
  text-align: center;
}
header, .main, footer{
  width: 90%;
  max-width: 1270px;
  margin: 20px auto;
}

header nav{
  background: #cecece;
  overflow: hidden;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover{
  background: #fff;
  color: #000;
}

.main .articles{
  width: 85%;
  float:left;
  background: black;
  color: white;
}

footer{
  background: #000;
  color: #fff;
  margin-top: 1%;
  clear: both;
  padding: 10px 0px;
  text-align: center;
}
