html{
  background-color: black;
}
body{
  padding: 5px;
  margin: 5px;
  background: #cecece;
}
article{
  background-color: #E1F5A9;
  width: 100%;
  height: 500px;
}
footer{
  background-color: lightgreen;
  text-align: center;
}

.sobremi{
  font-family: monospace;
  font-weight: bold;
}
button{
  background-color: blue;
}
